<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./css/order.css">
        <script src="./js/order.js"></script>
    </head>
    <body>
        <br>
        <div class="container-fluid" >
            <h4 style="text-align: center;">☕ Product from sell water house</h4>
            <br>
            <div class="row row-cols-6 justify-content-md-center">
                <div class="col-2" th:each = "category : ${categoryList}">
                    <img class="menu-img" th:src="${category.imageLink}" th:alt="${category.categoryName}">
                    <p class="menu-title" th:utext="${category.categoryName}"></p>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5">
                <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2 mt-lg-3" onclick="addToCart(this)">
                    <img class="img-item" src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656927874/category/coffee/caphesuada_u9vbwb.jpg" alt="ca phe sua da" width=100%>
                    <p><strong>Ca Phe Sua Da</strong></p>
                    <div class="row">
                        <div class="col-6">
                            <p>29000đ</p>
                        </div>
                        <div class="col-6">
                            <div class="btn btn--orange">+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
