<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        <nav class="navbar bottom bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656842253/icon/footlw_rcpm0w.png" alt="logo" width="50px">
              </a>
              <p class="footer-text">Copyright © 2022 The Sell Water House. All rights reserved.</p>
            </div>
        </nav>
    </body>
</html>
