<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/about.css">
	<script src="/js/bootstrap.js"></script>
	<link rel="shortcut icon" href="https://res.cloudinary.com/dimxnh34h/image/upload/v1656842253/icon/footlw_rcpm0w.png" type="image/x-icon">
</head>

<body>
	<div th:include="../static/components/navbar.html"></div>
	<div class="container-fluid article">
		<h1 class="title"> Introduce of The Sell Water House </h1>
		<p class="content"> The Sell Water House is currently the largest Taiwanese beverage brand in China. The Sell Water House
			brand is like a storm spreading rapidly around Asian countries. Wherever you go, The Sell Water House also
			receives the love of customers from all over the world. It is also the most distinctive tea, qualified and
			the only beverage brand to be introduced at Shanghai World Expo 2010. In Asia, Dingtea has more than 350
			chain stores spread across Asia. From North to South of China, worldwide The Sell Water House owns a chain
			of 650 stores.</p>
			<img class="content" src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841851/about/about_3_py7jk2.jpg" alt="about_1" width="70%">
			<p class="content">
				The Sell Water House currently has branches in Taiwan, Japan, China, Hong Kong, Indonesia, Malaysia, Singapore, Vietnam,
				Myanmar, Brunei, etc..
			</p>
			<img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841849/about/about_2_yk3nrf.webp" alt="about_2" width="70%" class="content">
			<p class="content">

				During its development, The Sell Water House has always focused on combining and creating products of the highest quality
				and must be different from other similar products on the market. To do this, the quality index of all raw
				materials and components used in The Sell Water House not only passed SGS Taiwan certification but they also passed 231
				quality tests of SGS Japan. The copy of the import license. The Sell Water House absolutely does not use flavoring
				additives to preserve. In addition to being more specific than other products, The Sell Water House also
				shows the professional, sophisticated and unique tea culture of Taiwanese people.
			</p>
			<img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841849/about/about_1_lj2a6b.jpg" alt="about_3" width="70%" class="content">
			<p class="content">
				To always get the best tea, The Sell Water House has contracted with farmers in the highlands. Cared for in tea gardens
			with low temperatures and altitudes up to 1000m, along with meticulous selection of one head-two leaves, the
			brewed tea not only exudes a sweet taste but also has a distinctive aroma. separate. The majority of teas on
			the market are of Chinese origin, the aroma is enhanced through the use of additives, while the bitterness
			and sweetness are adjusted through sweeteners, so the quality of the tea is improved. The quantity is
			significantly different from The Sell Water House.
		</p>
	</div>
	<div th:include="../static/components/footer.html"></div>
</body>

</html>