<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Lose money time...</title>
        <script src="./js/bootstrap.js"></script>
	<link rel="shortcut icon" href="./img/footer_logo.png" type="image/x-icon">
	<link rel="stylesheet" href="./css/bootstrap.css">
    </head>
    <body>
        <div th:include="../static/component/navbar.html"></div>
        <h1>Check out product</h1>
        <div th:include="../static/component/footer.html"></div>
    </body>
</html>
