<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>The Sell Water House Order</title>
        <script src="/js/bootstrap.js"></script>
	<link rel="shortcut icon" href="https://res.cloudinary.com/dimxnh34h/image/upload/v1656842253/icon/footlw_rcpm0w.png" type="image/x-icon">
	<link rel="stylesheet" href="/css/bootstrap.css">
    </head>
    <body>
        <div th:include="../static/components/navbar.html"></div>
        <div th:include="../static/components/drink.html"></div>
        <div th:include="../static/components/footer.html"></div>
    </body>
</html>
