<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Find Order</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/find_order.css"/>
  <link rel="shortcut icon" href="https://res.cloudinary.com/dimxnh34h/image/upload/v1656842253/icon/footlw_rcpm0w.png" type="image/x-icon">
</head>

<body>
  <div th:include="../static/components/navbar.html"></div>
  <section id="ordered" class="">
    <!-- Header: tra cuu don hang -->
    <div class="header_container">
      <img src="https://order.thecoffeehouse.com/_nuxt/img/search-order-icon.03a807c.svg" alt="logo" />
      <h1>Order Look Up</h1>
    </div>

    <!-- Đơn hàng không đúng ID -->
    <div id="incorrect-order_id">
      <div class="main_header">
        <input type="text" placeholder="Order ID" />
        <input type="button" value="Search" style="width: 80px;" />
      </div>

      <div class="section_content d-none">
        <div class="main_content">
          <img
            src="https://res.cloudinary.com/dimxnh34h/image/upload/v1657445628/icon/waring-not-found.8c0564c_ve2njy.svg"
            alt="" />
        </div>
        <div class="text-not-found">
          <p>
            Sorry, we don't have any order with this ID. Please check again.
          </p>
        </div>
      </div>
    </div>

    <!-- Đơn hàng nhập đúng ID - chế độ d-none -->
    <div id="correct_orderid" class="mt-5">
      <div>
        <div class="container-fluid container-lg custom-checkout">
          <div class="row justify-content-center">
            <!-- Content in the left -->
            <div class="left-content col-md-6">
              <div class="d-flex checkout_title justify-content-between">
                <h4 class="checkout_title checkout_shipping_head">
                  Order Detail
                </h4>
              </div>


      <!-- Đơn hàng nhập đúng ID - chế độ d-none -->
      <div id="correct_orderid" class="mt-5">
        <div>
          <div class="container-fluid container-lg custom-checkout">
            <div class="row justify-content-center">
              <!-- Content in the left -->
              <div class="left-content col-md-6">
                <div class="d-flex checkout_title justify-content-between">
                  <h4 class="checkout_title checkout_shipping_head">
                    Order Detail
                  </h4>
                  <!-- The status of Order -->
                  <span class="d-inline-block" style="visibility: hidden;" data-mdb-toggle="popover" data-mdb-content="The order is in process of processing.">
                    <button style="font-weight: bold; background-color: #ccc" class="btn btn-light" style="pointer-events: none;" type="button" disabled>Loading</button>
                  </span>
                  <span class="d-inline-block" style="visibility: hidden;" data-mdb-toggle="popover" data-mdb-content="The order has been canceled.">
                    <button style="font-weight: bold;" class="btn btn-danger" style="pointer-events: none;" type="button" disabled>Cancel</button>
                  </span>
                  <span class="d-inline-block" style="visibility: hidden;" data-mdb-toggle="popover" data-mdb-content="The order is on the way">
                    <button style="font-weight: bold;" class="btn btn-info" style="pointer-events: none;" type="button" disabled>On-way</button>
                  </span>
                  <span class="d-inline-block" style="visibility: none;" data-mdb-toggle="popover" data-mdb-content="The order is delivered">
                    <button style="font-weight: bold;" class="btn btn-success" style="pointer-events: none;" type="button" disabled>Delivered</button>
                  </span>
                </div>

                <hr />

                <!-- Form text disable about consumer -->
                <div class="form-outline m-4">
                  <input
                    class="form-control"
                    id="formControlReadonly"
                    type="text"
                    value="Nguyễn Ngọc Tùng Lâm"
                    aria-label="readonly input example"
                    readonly
                  />
                  <label class="form-label" for="formControlReadonly"
                    >Recipient's name</label
                  >
                </div>


              <div class="form-outline m-4">
                <input class="form-control" id="formControlReadonly" type="text" value="0988808470"
                  aria-label="readonly input example" readonly />
                <label class="form-label" for="formControlReadonly" style="margin-left: 0">Phone Number</label>
              </div>


                <div class="form-outline m-4">
                  <input
                    class="form-control"
                    id="formControlReadonly"
                    type="text"
                    value="Nearby Xuong Rong Lake, go ahead 100m"
                    aria-label="readonly input example"
                    readonly
                  />
                  <label class="form-label" for="formControlReadonly"
                    >Address</label
                  >
                </div>
                <hr />

                <!-- Product Reviewing -->
                <div class="product-review">
                  <div class="container d-flex">
                    <span style="font-size: 24px; font-weight: bold" class=""
                      >Satisfied Rating:</span
                    >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="stars">
                          <form action="">
                            <input
                              class="star star-5"
                              id="star-5"
                              type="radio"
                              name="star"
                            />

                          <label class="star star-5" for="star-5"></label>

                          <input class="star star-4" id="star-4" type="radio" name="star" />

                          <label class="star star-4" for="star-4"></label>

                          <input class="star star-3" id="star-3" type="radio" name="star" />

                          <label class="star star-3" for="star-3"></label>

                          <input class="star star-2" id="star-2" type="radio" name="star" />

                          <label class="star star-2" for="star-2"></label>

                          <input class="star star-1" id="star-1" type="radio" name="star" />

                          <label class="star star-1" for="star-1"></label>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="margin-left: 23px" class="row">
                  <div class="form-outline col-auto p-0">
                    <input type="text" id="formTextExample2" class="comment_text" placeholder="Comment..."
                      aria-describedby="textExample2"
                      style="height: 35px; font-size: 15px; width: 550px; padding-left: 5px;" />
                  </div>
                  <div class="col-auto">
                    <button style="
                          padding: 7px;
                          margin-left: 3px;
                          background-color: rgb(250, 140, 22);
                          font-size: 12px;
                          color: white;
                          font-weight: bold;
                        " type="button" class="btn btn-warning" onclick="alert('Thanks for your feedback!')">
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content in the right -->
            <div class="right-content col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="tch-checkout-box tch-checkout-box--list-ordered tch-checkout-border">
                    <div class="d-flex justify-content-between">
                      <h4 class="tch-checkout-box__title mb-0">
                        Selected dishes
                      </h4>
                    </div>
                    <br />
                    <div
                      class="tch-order-card tch-order-card--border d-flex align-items-center justify-content-between">
                      <div class="tch-order-card__left d-flex">
                        <span class="tch-order-card__icon d-flex align-items-center"><i class="fa-solid fa-beer-mug-empty"></i></span>
                        <div class="tch-order-card__content">
                          <h5 class="tch-order-card__title mb-0">
                            1 x Milk Ice Coffee
                          </h5>
                          <!---->
                        </div>
                      </div>
                      <div class="tch-order-card__right">
                        <p class="tch-order-card__price mb-0">29.000đ</p>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
              <div class="tch-checkout-box tch-checkout-box--list-submited d-flex justify-content-between">
                <div>
                  <p class="tch-order-card__textsubmit text-white mb-0">
                    Total
                  </p>
                  <p class="tch-order-card__textsubmit text-white f-600 mb-0">
                    59.000đ
                  </p>
                </div>
                <div class="finish_find-order">
                  <button
                    style="color: #fa8c16; border-radius: 30px; background-color: white; padding: 10px 15px; font-weight: bold;"
                    class="btn btn-finish">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div th:include="../static/components/footer.html"></div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>