
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>The Sell Water House Delivery</title>
	<script src="./js/bootstrap.js"></script>
	<link rel="shortcut icon" href="https://res.cloudinary.com/dimxnh34h/image/upload/v1656842253/icon/footlw_rcpm0w.png" type="image/x-icon">
	<link rel="stylesheet" href="./css/bootstrap.css">
	<link rel="stylesheet" href="./css/index.css">
</head>

<body>
	<div th:include="../static/components/navbar.html"></div>
		<div class="container-xxl" style="background-color: rgb(252, 131, 38);">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
						aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
						aria-label="Slide 4"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
						aria-label="Slide 5"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
						aria-label="Slide 6"></button>
				</div>
				<div class="carousel-inner" style="padding: 20px 20px 20px 20px;">
					<div class="carousel-item active" data-bs-interval="4000">
						<img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841894/carousel/case_21_mfh2kq.jpg" class="d-block w-100" alt="1">
					</div>
					<div class="carousel-item" data-bs-interval="4000">
						<img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841893/carousel/case_31_gnx26m.jpg	" class="d-block w-100" alt="2">
					</div>
					<div class="carousel-item" data-bs-interval="4000">
						<img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841893/carousel/case_61_va681b.jpg" class="d-block w-100" alt="3">
					</div>
					<div class="carousel-item" data-bs-interval="4000">
						<img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841893/carousel/case_51_o5sz3f.jpg" class="d-block w-100" alt="4">
					</div>
					<div class="carousel-item" data-bs-interval="4000">
						<img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841893/carousel/case_11_akab7h.jpg" class="d-block w-100" alt="5">
					</div>
					<div class="carousel-item" data-bs-interval="4000">
						<img src="https://res.cloudinary.com/dimxnh34h/image/upload/v1656841893/carousel/case_41_eihuyk.jpg" class="d-block w-100" alt="6">
					</div>
				</div>
			</div>
		</div>
		<div th:include="../static/components/drink.html"></div>
		<div class="row">
			<div class="col text-center">
				<button class="btn btn-outline-warning" onclick="window.location.href = '/drink'">
					See More
				</button>
			</div>
		  </div>
		<div th:include="../static/components/blog.html"></div>
		
		<div class="row see-more">
			<div class="col text-center">
				<button class="btn btn-outline-warning" onclick="window.location.href = '/blog'">
					See More
				</button>
			</div>
		  </div>
		<div th:include="../static/components/footer.html"></div>
	
</body>

</html>